body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* line-height: 1; */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 0px;
}

.timeBlock {
  min-height: 60px;
}

.hour {
  background-color: lightgray;
  text-align: center;
  width: 135px;
}

.content {
  width: 875px;
}

.saveBtn {
  background-color: lightskyblue;
  width: 125px;
}

